{% extends 'base.html.twig' %}

{% block title%}

    Catégories

{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">Catéories</h1>

    <table class="table table-bordered text-center">

        <tr>


        </tr>




    </table>



{% endblock %}